<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="A1" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Append>true</Append>
		<File>logs/spring-cache.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/spring-cache.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%ex%n</pattern>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="A1"/>
	</root>
</configuration>
